In [38]:
import os
import pandas as pd
from glob import glob
import numpy as np

In [2]:
data_dir = glob(os.path.join("/gladstone/finkbeiner/steve/work/data/npsad_data/vivek/Datasets/Full-Minerva-Data/AmyB-MFG","*.mrxs"))

In [4]:
len(data_dir)

324

In [5]:
df = pd.DataFrame(data_dir, columns=["path"])

In [6]:
df

                                                  path
0    /gladstone/finkbeiner/steve/work/data/npsad_da...
1    /gladstone/finkbeiner/steve/work/data/npsad_da...
2    /gladstone/finkbeiner/steve/work/data/npsad_da...
3    /gladstone/finkbeiner/steve/work/data/npsad_da...
4    /gladstone/finkbeiner/steve/work/data/npsad_da...
..                                                 ...
319  /gladstone/finkbeiner/steve/work/data/npsad_da...
320  /gladstone/finkbeiner/steve/work/data/npsad_da...
321  /gladstone/finkbeiner/steve/work/data/npsad_da...
322  /gladstone/finkbeiner/steve/work/data/npsad_da...
323  /gladstone/finkbeiner/steve/work/data/npsad_da...

[324 rows x 1 columns]

In [7]:
df["XENum"]= df["path"].apply(lambda l: l.split("/")[-1].split("_")[0])

In [8]:
df

                                                  path     XENum
0    /gladstone/finkbeiner/steve/work/data/npsad_da...  XE17-019
1    /gladstone/finkbeiner/steve/work/data/npsad_da...  XE16-060
2    /gladstone/finkbeiner/steve/work/data/npsad_da...  XE08-003
3    /gladstone/finkbeiner/steve/work/data/npsad_da...  XE10-039
4    /gladstone/finkbeiner/steve/work/data/npsad_da...  XE18-048
..                                                 ...       ...
319  /gladstone/finkbeiner/steve/work/data/npsad_da...  XE19-032
320  /gladstone/finkbeiner/steve/work/data/npsad_da...  XE09-004
321  /gladstone/finkbeiner/steve/work/data/npsad_da...  XE05-123
322  /gladstone/finkbeiner/steve/work/data/npsad_da...  XE18-038
323  /gladstone/finkbeiner/steve/work/data/npsad_da...  XE08-044

[324 rows x 2 columns]

In [10]:
metadata = pd.read_csv("/gladstone/finkbeiner/steve/work/data/npsad_data/vivek/Metadata/latest-metadata/NPSAD_image_metadata2.csv")

In [13]:
metadata = metadata[["SubNum","XENum"]].drop_duplicates()

In [15]:
df = pd.merge(df,metadata, on="XENum", how="left")

In [16]:
clinical_metadata = pd.read_csv("/gladstone/finkbeiner/steve/work/data/npsad_data/vivek/Metadata/latest-metadata/clinical_metadata_full.csv")

/tmp/ipykernel_2633834/3813565371.py:1: DtypeWarning: Columns (5,159,160,161,163,166,167,168,169,172,174,178,179,180,181,191,193,195,196,198,279,288,289,290,291,292,293,294,295,296,297,298,299,301,346,349,350,378,381,709,713,714,715,716,722,724,725,726,728,731,734,736,739,741,743,745,748,749,753,755,757,759,760,762,764,767,768,827,829) have mixed types. Specify dtype option on import or set low_memory=False.
  clinical_metadata = pd.read_csv("/gladstone/finkbeiner/steve/work/data/npsad_data/vivek/Metadata/latest-metadata/clinical_metadata_full.csv")

In [22]:
clinical_metadata.columns[60:80]

Index(['OcciLewyValue', 'LewySubValue', 'LewyNucleusValue', 'LewyLocusValue',
       'LewyDorsalVValue', 'MoodDysCurValue', 'MoodDysHxValue',
       'DecIntCurValue', 'DecIntHxValue', 'WtLossCurValue', 'WtLossHxValue',
       'DecAppCurValue', 'DecAppHxValue', 'WtGainCurValue', 'WtGainHxValue',
       'EarlyInsomCurValue', 'EarlyInsomHxValue', 'MidInsomCurValue',
       'MidInsomHxValue', 'LateInsomCurValue'],
      dtype='object')

In [29]:
clinical_metadata_filtered = clinical_metadata[["Imaging_XENum","SubNum"]].drop_duplicates()

In [30]:
clinical_metadata_filtered = clinical_metadata_filtered[~clinical_metadata_filtered["Imaging_XENum"].isna()]

In [31]:
clinical_metadata_filtered["SubNum"] = clinical_metadata_filtered["SubNum"].apply(lambda l: int(l.replace("M","")))

In [33]:
df = pd.merge(df, clinical_metadata_filtered, on="SubNum",how="left")

In [35]:
df["Imaging_XENum"].isna().sum()

74

In [39]:
df["hasClinicalData"]= np.where(df["Imaging_XENum"].isna(),False, True)

In [40]:
df

,path,XENum,SubNum,Imaging_XENum,hasClinicalData
0,/gladstone/finkbeiner/steve/work/data/npsad_da...,XE17-019,370135,NaN,False
1,/gladstone/finkbeiner/steve/work/data/npsad_da...,XE16-060,34894,NaN,False
2,/gladstone/finkbeiner/steve/work/data/npsad_da...,XE08-003,43750,NaN,False
3,/gladstone/finkbeiner/steve/work/data/npsad_da...,XE10-039,81015,XE10-039,True
4,/gladstone/finkbeiner/steve/work/data/npsad_da...,XE18-048,808460,XE18-048,True
...,...,...,...,...,...
319,/gladstone/finkbeiner/steve/work/data/npsad_da...,XE19-032,921781,NaN,False
320,/gladstone/finkbeiner/steve/work/data/npsad_da...,XE09-004,79736,XE09-004,True
321,/gladstone/finkbeiner/steve/work/data/npsad_da...,XE05-123,82307,XE05-123,True
322,/gladstone/finkbeiner/steve/work/data/npsad_da...,XE18-038,22767,XE18-038,True
323,/gladstone/finkbeiner/steve/work/data/npsad_da...,XE08-044,85047,XE08-044,True

In [42]:
snra_flag = pd.read_csv("/gladstone/finkbeiner/steve/work/data/npsad_data/vivek/Metadata/overlap_with_metadata_srna_flag/Jaro_sRNA_flag.csv")

In [43]:
snra_flag

,Filename,Full.Path,Imaging_XENum,has_snRNAseq
0,XE16-053_7_AmyB_1.mrxs,/Volumes/Finkbeiner-Steve/work/data/npsad_data...,XE16-053,True
1,XE14-004_6_AmyB_1.mrxs,/Volumes/Finkbeiner-Steve/work/data/npsad_data...,XE14-004,False
2,XE17-029_7_AmyB_1.mrxs,/Volumes/Finkbeiner-Steve/work/data/npsad_data...,XE17-029,False
3,XE17-048_7_AmyB_1.mrxs,/Volumes/Finkbeiner-Steve/work/data/npsad_data...,XE17-048,True
4,XE16-055_7_AmyB_1.mrxs,/Volumes/Finkbeiner-Steve/work/data/npsad_data...,XE16-055,True
...,...,...,...,...
129,XE07-056_1_AmyB_1.mrxs,/Volumes/Finkbeiner-Steve/work/data/npsad_data...,XE07-056,True
130,XE08-015_1_AmyB_1.mrxs,/Volumes/Finkbeiner-Steve/work/data/npsad_data...,XE08-015,True
131,XE09-013_1_AmyB_1.mrxs,/Volumes/Finkbeiner-Steve/work/data/npsad_data...,XE09-013,True
132,XE16-033_1_AmyB_1.mrxs,/Volumes/Finkbeiner-Steve/work/data/npsad_data...,XE16-033,False
133,XE13-007_1_AmyB_1.mrxs,/Volumes/Finkbeiner-Steve/work/data/npsad_data...,XE13-007,False

In [46]:
snra_flag_filtered =  snra_flag[["Imaging_XENum","has_snRNAseq"]].drop_duplicates()

In [48]:
snra_flag_filtered.columns = ['XENum', 'has_snRNAseq']

In [52]:
df = pd.merge(df,snra_flag_filtered, on="XENum",how="left")

In [57]:
df.to_csv("/gladstone/finkbeiner/steve/work/data/npsad_data/vivek/Metadata/overlap_with_metadata_srna_flag/AmyB-MFG_hasClinicalDataflag_hassnRNAflag.csv")