In [1]:
import os
import glob
import pdb
import pandas as pd
import tqdm
import numpy as np

## External Dataset

In [6]:
csv_dir = "/gladstone/finkbeiner/steve/work/data/npsad_data/vivek/csv_data/EXternal_dataset/"
csv_new_dir ="/gladstone/finkbeiner/steve/work/data/npsad_data/vivek/csv_merged_data"
if not os.path.exists(csv_new_dir):
    os.makedirs(csv_new_dir)

In [2]:
# for extrenal_dataset
image_clinical_df = pd.read_csv('/gladstone/finkbeiner/steve/work/data/npsad_data/vivek/Datasets/UCDavis-Dataset/classification_dataset/train.csv')

In [8]:
image_clinical_df.head(2)

,SubID,Brain_bank,Age,Sex,Sex_chr_aneuploidy,Ethnicity,Dx,pH,PMI,Death_Time,...,LewyNucleusValue,LewyLocusValue,LewyDorsalVValue,CDR_Memory,CDR_Orientation,CDR_Judgement,CDR_Community,CDR_HomeHobbies,CDR_PersonalCare,CDR_SumBoxes
0,M00_1061,MSSM,40.0,Male,NaN,Black,Harry's plaintext: CVD+BPD | CERAD_1: Vascular...,6.87,11.333333,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.5,0.0,3.5
1,M00_1062,MSSM,60.0,Female,NaN,Hispanic,Harry's plaintext: CVD | CERAD_1: Vascular dis...,6.27,2.900000,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
image_clinical_df["imagename2"]=image_clinical_df["imagename"].apply(lambda l: l.split("/")[0])

In [6]:
def is_non_zero_file(fpath):  
    return os.path.isfile(fpath) and os.path.getsize(fpath) > 2

In [14]:
csv_files = glob.glob(os.path.join(csv_dir, "*.csv"))
result_df = pd.DataFrame()

for csv_file in csv_files:
    updated_img_df = pd.DataFrame()
    x = csv_file
    x = x.split("_quantify")
    
    image_name = os.path.basename(x[0])
    #final_img_name = image_name + ".mrxs"

    
    # Use the filename from image metadata to match the corresponding entry at clinical metadata
    
    if is_non_zero_file(csv_file):
        img_attr_df = pd.read_csv(csv_file)
        img_clinical_df = image_clinical_df[image_clinical_df['imagename2'] == image_name]
        
        if len(img_clinical_df)!=0:
            
        
            # Get the total count of each plaques for a particular Patient
            data_record = pd.DataFrame.from_records([{'image_name':image_name,
                                                      'total_core_plaques': img_attr_df["core"].sum(), 
                                                      'total_diffuse_plaques': img_attr_df["diffuse"].sum(),
                                                      'total_caa_plaques': img_attr_df["caa"].sum(),
                                                      'avg_area':img_attr_df["area"].mean(),
                                                      'avg_diameter':img_attr_df["equivalent_diameter"].mean(),
                                                      'avg_eccentricity':img_attr_df["eccentricity"].mean(),
                                                      #'age':img_clinical_df["Age"].values[0],
                                                      #'sex':img_clinical_df["Sex"].values[0],
                                                      #'ethinicity':img_clinical_df["Ethnicity"].values[0],
                                                      #'Dx':img_clinical_df["key_1"].values[0]
                                                      
                                                     }])

            result_df = pd.concat([result_df, data_record], ignore_index=True)
        
        
       
#         updated_img_df = pd.concat([updated_img_df, img_clinical_df], axis=1).reindex(updated_img_df.index)
#         save_csv = "final_quantify.csv"
#         updated_img_df.to_csv(os.path.join(csv_new_dir, save_csv))
#         result_df = pd.concat([result_df, updated_img_df], axis=1)
    
save_csv = "final_quantify.csv"
result_df.to_csv(os.path.join(csv_new_dir, save_csv))

In [15]:
result_df

,image_name,total_core_plaques,total_diffuse_plaques,total_caa_plaques,avg_area,avg_diameter,avg_eccentricity
0,NA5001_2AB,356,315,0,136761.478680,391.923915,0.691238
1,NA5003_2AB,95,15,0,99093.965909,334.373061,0.744895
2,NA_4865_02_AB1-40,2,0,0,34385.000000,206.138770,0.664361
3,NA4951-02_AB17-24,1974,777,0,78895.144307,301.016639,0.707858
4,NA4619-02_AB,1790,459,0,65115.859161,275.605327,0.704457
5,NA4711-02_AB,646,136,0,63118.162850,273.021151,0.682570
6,NA4722-02_AB,116,230,0,106821.557562,349.065564,0.708795
7,NA5004_02_AB,3096,224,0,84593.199281,311.523906,0.690812
8,NA4144-02_AB,1242,151,0,65058.426523,273.812495,0.688289
9,NA4749-02_AB,491,231,0,61102.405517,269.772604,0.675788
10,NA4229-02_AB,822,647,0,64944.985044,274.771753,0.694944
11,NA4898-02_AB17-24,166,478,0,99200.656923,337.201369,0.671134
12,NA4185-02_AB,433,40,0,51467.677824,244.595275,0.638884
13,NA4757-02_AB,441,323,0,68041.718830,281.125627,0.631540
14,NA4885-02_AB17-24,1577,103,0,82849.790601,305.086537,0.686189
15,NA4471-02_AB,97,46,0,90407.294118,320.717899,0.700027
16,NA5002_2AB,605,21,0,82843.777610,307.049089,0.632599
17,NA4918-02_AB17-24,2992,1214,0,82486.718223,308.749261,0.717109
18,NA4072-02_AB,0,9,0,77781.222222,304.585508,0.676018
19,NA4137-02_AB,5,0,0,118314.500000,340.724841,0.736544
20,NA4312-02_AB,761,203,0,75225.761329,294.343787,0.695726
21,NA4009-02_AB,1322,327,0,89463.342010,319.464650,0.697616
22,NA5005-02_AB-002,1627,33,0,102850.983402,342.286018,0.692555
23,NA4259-02_AB,808,28,0,75443.221040,295.290192,0.677401
24,NA_4882_02_AB,9,0,0,83396.666667,323.581697,0.692515

## Internal Dataset

In [30]:
#csv_dir = "/gladstone/finkbeiner/steve/work/data/npsad_data/vivek/csv_data/Internal_dataset/"

csv_dir = "/gladstone/finkbeiner/steve/work/data/npsad_data/vivek/csv_data/Internal_dataset_latest"

In [31]:
csv_new_dir ="/gladstone/finkbeiner/steve/work/data/npsad_data/vivek/csv_merged_data"

In [32]:
## correcting count in Internal_dataset output for core, caa count
csv_files = glob.glob(os.path.join(csv_dir, "*.csv"))
for csv_file in csv_files:
    try:
        #file.csv is an empty csv file
        csv_file_df = pd.read_csv(csv_file)
        csv_file_df["core"] = np.where(csv_file_df["label"]=="Cored", 1, 0)
        csv_file_df["diffuse"] = np.where(csv_file_df["label"]=="Diffuse", 1, 0)
        csv_file_df["caa"] = np.where(csv_file_df["label"]=="CAA", 1, 0)
        csv_file_df.to_csv(csv_file)
    except pd.errors.EmptyDataError:
        print("The CSV file is empty",":", csv_file)

The CSV file is empty : /gladstone/finkbeiner/steve/work/data/npsad_data/vivek/csv_data/Internal_dataset_latest/XE16-053_1_AmyB_1_quantify.csv
The CSV file is empty : /gladstone/finkbeiner/steve/work/data/npsad_data/vivek/csv_data/Internal_dataset_latest/XE10-042_1_AmyB_1_quantify.csv
The CSV file is empty : /gladstone/finkbeiner/steve/work/data/npsad_data/vivek/csv_data/Internal_dataset_latest/XE18-043_1_AmyB_1_quantify.csv

In [33]:
#internal dataset
#image_clinical_df = pd.read_csv('/gladstone/finkbeiner/steve/work/data/npsad_data/monika/Amy_plaque_Results/clinical_metadata.csv')

In [34]:
image_clinical_df = pd.read_csv("/gladstone/finkbeiner/steve/work/data/npsad_data/vivek/Metadata/Clincal_metadata_updated_selected_cols.csv")

In [35]:
image_clinical_df.head(1)

,Unnamed: 0,SubID,Brain_bank,Age,Sex,Ethnicity,Dx,CERAD,CDRScore,Plq_Mn,...,Dementia,PD,prs_AD2,ID,BB,SubNum,XENum,HarryNP1,Additions,SubNum_with_M
0,0,M00_1061,MSSM,40.0,Male,Black,Harry's plaintext: CVD+BPD | CERAD_1: Vascular...,NaN,0.5,0.0,...,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:

def is_non_zero_file(fpath):  
    return os.path.isfile(fpath) and os.path.getsize(fpath) > 2

In [56]:
csv_files = glob.glob(os.path.join(csv_dir, "*.csv"))
result_df = pd.DataFrame()

for csv_file in csv_files:
    updated_img_df = pd.DataFrame()
    x = csv_file
    x = x.split("_quantify")
    
    image_name = os.path.basename(x[0])
    final_img_name = image_name + ".mrxs"
    final_img_name = final_img_name.split("_")[0]

    #print(final_img_name)
    # Use the filename from image metadata to match the corresponding entry at clinical metadata
    
    if is_non_zero_file(csv_file):
        img_attr_df = pd.read_csv(csv_file)
        img_clinical_df = image_clinical_df[image_clinical_df['XENum'] == final_img_name]
        if len(img_clinical_df)==0:
            print("cant find in clinical data", csv_file)
        if len(img_clinical_df)!=0:
            
        
            # Get the total count of each plaques for a particular Patient
            data_record = pd.DataFrame.from_records([{'image_name':image_name,
                                                      'total_core_plaques': img_attr_df["core"].sum(), 
                                                      'total_diffuse_plaques': img_attr_df["diffuse"].sum(),
                                                      'total_caa_plaques': img_attr_df["caa"].sum(),
                                                      'avg_area':img_attr_df["area"].mean(),
                                                      'avg_diameter':img_attr_df["equivalent_diameter"].mean(),
                                                      'avg_eccentricity':img_attr_df["eccentricity"].mean(),
                                                      'age':img_clinical_df["Age"].values[0],
                                                      'sex':img_clinical_df["Sex"].values[0],
                                                      'ethinicity':img_clinical_df["Ethnicity"].values[0],
                                                      'Dx':img_clinical_df["Dx"].values[0],
                                                      "Plq_Mn":img_clinical_df["Plq_Mn"].values[0]
                                                      ,"Plq_Mn_MFG":img_clinical_df["Plq_Mn"].values[0] ,
                                                      "CDRScore":img_clinical_df["CDRScore"].values[0],
                                                      "prs_AD2":img_clinical_df["prs_AD2"].values[0]
                                                     }])

            result_df = pd.concat([result_df, data_record], ignore_index=True)
        
    else:
        print("zero size csv file",csv_file)
       
#         updated_img_df = pd.concat([updated_img_df, img_clinical_df], axis=1).reindex(updated_img_df.index)
#         save_csv = "final_quantify.csv"
#         updated_img_df.to_csv(os.path.join(csv_new_dir, save_csv))
#         result_df = pd.concat([result_df, updated_img_df], axis=1)
    
save_csv = "final_quantify_new.csv"
result_df["total_plaques"] = result_df["total_core_plaques"] + result_df["total_diffuse_plaques"]+ result_df["total_caa_plaques"]
result_df.to_csv(os.path.join(csv_new_dir, save_csv))

zero size csv file /gladstone/finkbeiner/steve/work/data/npsad_data/vivek/csv_data/Internal_dataset_latest/XE16-053_1_AmyB_1_quantify.csv
cant find in clinical data /gladstone/finkbeiner/steve/work/data/npsad_data/vivek/csv_data/Internal_dataset_latest/XE17-014_1_AmyB_1_quantify.csv
cant find in clinical data /gladstone/finkbeiner/steve/work/data/npsad_data/vivek/csv_data/Internal_dataset_latest/XE17-010_1_AmyB_1_quantify.csv
zero size csv file /gladstone/finkbeiner/steve/work/data/npsad_data/vivek/csv_data/Internal_dataset_latest/XE10-042_1_AmyB_1_quantify.csv
cant find in clinical data /gladstone/finkbeiner/steve/work/data/npsad_data/vivek/csv_data/Internal_dataset_latest/XE17-029_1_AmyB_1_quantify.csv
zero size csv file /gladstone/finkbeiner/steve/work/data/npsad_data/vivek/csv_data/Internal_dataset_latest/XE18-043_1_AmyB_1_quantify.csv

In [57]:
len(csv_files)

92

In [58]:
len(result_df)

86

In [54]:
result_df

,image_name,total_core_plaques,total_diffuse_plaques,total_caa_plaques,avg_area,avg_diameter,avg_eccentricity,age,sex,ethinicity,Dx,total_plaques
0,XE14-033_1_AmyB_1,1,0,0,23226.000000,171.965874,0.703933,96.0,Male,Black,Harry's plaintext: AD-Def. | CERAD_1: Probable...,1
1,XE17-048_1_AmyB_1,149,1144,202,80204.106355,299.209798,0.708016,94.0,Female,White,Harry's plaintext: AD-Def. | CERAD_1: Definite...,1495
2,XE16-057_1_AmyB_1,309,17,58,39703.388021,216.771612,0.620200,74.0,Male,Hispanic,Harry's plaintext: AD-Def. | CERAD_1: Definite...,384
3,XE12-023_1_AmyB_1,7,85,1,36850.010753,206.123404,0.663622,96.0,Female,White,Harry's plaintext: AD-Def. | CERAD_1: Definite...,93
4,XE16-055_1_AmyB_1,342,26,191,76435.073345,293.685094,0.724317,80.0,Male,White,Harry's plaintext: AD-Def. | CERAD_1: Definite...,559
...,...,...,...,...,...,...,...,...,...,...,...,...
81,XE08-047_1_AmyB_1,82,579,5,36934.524024,209.697037,0.651377,84.0,Male,White,Harry's plaintext: AD-Def. | CERAD_1: Probable...,666
82,XE10-026_1_AmyB_1,13,47,1,42504.295082,223.026997,0.669502,85.0,Female,White,Harry's plaintext: AD-Def. | CERAD_1: Definite...,61
83,XE11-025_1_AmyB_1,3,12,0,30340.600000,193.796152,0.601751,94.0,Male,White,Harry's plaintext: AD-Def. | CERAD_1: Definite...,15
84,XE15-051_1_AmyB_1,199,337,55,98652.446701,328.911545,0.712152,83.0,Female,White,Harry's plaintext: AD-Def. | CERAD_1: Definite...,591
85,XE09-056_1_AmyB_1,201,78,14,31628.682594,194.161782,0.625561,87.0,Male,White,Harry's plaintext: AD-Def. | CERAD_1: Definite...,293